#new {
    width:300px;
    height:300px;
    
    margin-left:20px;
    border-radius:60%;
}
#new1 {
    width:300px;
    height:300px;
    border-radius:60%;
    margin-left:20px;
    
    
}
strong {
    font-size:25px;
    font:cursive;
}
#div1 {
    margin-left:40px;
}
#koc {
    margin-bottom:20px;
    margin-left:60px;

}
#amr {
    margin-bottom:20px;
    margin-left:40px;

}